<%= render 'shared/errors', object: @post %>
<% if current_user&.admin? %>
  <%= form_with model: [:admin, @post] do |f| %>

    <div class="field">
      <%= f.label :title %><br />
      <%= f.text_field :title, placeholder: "title" %>
    </div>

    <div class="field">
      <%= f.label :body %><br />
      <%= f.text_field :body, placeholder: "body" %>
    </div>

    <div class="field mb-3">
      <%= f.submit "Отправить" %>
    </div>
  <% end %>