
<p>
  <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    <%= @UpdateCreateButton ? "Update Post" : "Create Post" %>
  </button>
</p>
<div class="collapse mb-3" id="collapseExample">
  <div class="card card-body">
    <div id="errors">
      <%= render 'shared/errors', object: post %>
    </div>
    <%= form_with model: [:admin, post], id: "form_post", data: { turbo_frame: "target" } do |f| %>

      <div class="mb-3">
        <%= f.label :title, class: "form-label" %>
        <%= f.text_field :title, class: "form-control", id: "postTitle", placeholder: "Title" %>
      </div>

      <div class="mb-3">
        <%= f.label :body, class: "form-label" %>
        <%= f.text_field :body, class: "form-control", id: "postContent", placeholder: "Body" %>
      </div>

      <div class="field">
        <%= f.label :images %><br />
        <%= f.file_field :images, multiple: true %>
      </div>

      <div class="field mb-3">
        <% if @UpdateCreateButton %>
          <%= f.submit "Update Post", class: "btn btn-primary" %>
        <% else %>
          <%= f.submit "Create Post", class: "btn btn-primary" %>
        <% end %>
      </div>
      
    <% end %>
  </div>
</div>


