<%= render 'shared/errors', object: @comment %>
<%= form_with model: [@post, @comment] do |f| %>

  <div class="field mb-2">
    <%= f.label :body %><br />
    <%= f.text_field :body, placeholder: "body" %>
  </div>

  <div class="field mb-3">
    <%= f.submit "Отправить" %>
  </div>
<% end %>