<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Log in</h5>
        <button type="button" onclick="closePopup()" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field">
            <%= f.label :email, class: "form-label" %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
          </div>

          <div class="field">
            <%= f.label :password, class: "form-label"  %>
            <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
          </div>

          <% if devise_mapping.rememberable? %>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end %>
          <%= render "devise/shared/links" %>
          <div class="modal-footer">
            <button type="button" onclick="closePopup()" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <div class="actions">
              <%= f.submit "Log in", class: "btn btn-primary" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script>
function showPopup() {
  let modal = document.getElementById('staticBackdrop');
  modal.style.display = 'block';
  modal.classList.add("show");
  modal.setAttribute("role", "dialog");
  modal.style.position = 'fixed';

  let b = document.body;
  b.classList.add("modal-open");
  b.setAttribute('data-bs-overflow', 'hidden');
  b.setAttribute('data-bs-padding-right', '0px');
  b.style.overflow = 'hidden';
  b.style.backgroundColor = '#212529'

  let form = document.getElementById('form');
  form.style.display = 'none';

  let nav = document.getElementById('navPanel');
  nav.style.display = 'none';
}
function closePopup() {
  let modal = document.getElementById('staticBackdrop');
  modal.style.display = 'none';
  modal.classList.add("modal", "fade");
  modal.removeAttribute("role");
  modal.style.position = '';

  let b = document.body;
  b.classList.remove("modal-open");
  b.removeAttribute('data-bs-overflow');
  b.removeAttribute('data-bs-padding-right');
  b.style.overflow = '';
  b.style.backgroundColor = '';

  let form = document.getElementById('form');
  form.style.display = 'block';

  let nav = document.getElementById('navPanel');
  nav.style.display = 'block';
}

window.onload = showPopup();
</script>
