<div class="container">
    <nav class="d-flex flex-wrap aling-items-center justify-content-center justify-content-lg-start">
      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <% if user_signed_in? %>
          <li>
              <%= link_to "User update", edit_user_registration_path, class: "nav-link px-5 mr-10" %>
              <%= current_user.full_name %>
          </li>
        <% end %>
        <li>
          <%= link_to "Home", root_path, class: "nav-link px-5 mr-10" %>
        </li>
        <li>
          <% if user_signed_in? %>
            <%= button_to "Log out", destroy_user_session_path, method: :delete, confirm: "Are you shure?", class: "nav-link px-5 mr-10" %>
          <% else %>
            <%= link_to "Log in", new_user_session_path, class: "nav-link px-5 mr-10" %>
          <% end %>
        </li>
      </ul>
    </nav>
  </div>