<div class="container">
  <% if flash[:success].present? || flash[:alert].present?%>
    <h3 class="mb-md-5"> <%= flash[:success] %> <%= flash[:alert] %> </h3>
  <% end %>
  <ul class="col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-3">
    <li class="list-group">
      <%= render 'shared/form' %>
    </li>
    <li class="list-group mb-5">
      <%= link_to "Delete post", admin_post_path(@post), data: { turbo_method: :delete, turbo_confirm: "Are you shure?" } %>
    </li>
    <% @comments.each do |comment| %>
      <li>
        <p> <%= comment.body %> </p>
      </li>
      <li class="list-group">
        <h6> <%= comment.user.full_name %> </h6>
      </li>
      <% unless comment.approved? %>
        <li class="list-group">
          <%= link_to "Approve", admin_post_comment_path(@post, comment), data: { turbo_method: :patch, turbo_confirm: "Are you shure?" } %>
        </li>
      <% end %>
      <li class="list-group">
        <%= link_to "Delete comment", post_comment_path(@post, comment), data: { turbo_method: :delete, turbo_confirm: "Are you shure?" }%>
      </li>
      <li class="list-group mb-5">
        <%= link_to "Update comment", edit_post_comment_path(@post, comment) %>
      </li>
    <% end %>
  </ul>
  <%== pagy_nav(@pagy) if @pagy.pages > 1 %>
</div>