<div class="container">
  <div id="flash">
    <% if flash[:success] %>
      <h3> <%= flash[:success] %> </h3>
    <% end %>
  </div>
  <div id="post">
    <%= render "postEdit", post: @post %>
  </div>
  <ul>
    <li class="list-group">
      <div id="form">
        <%= render 'shared/form', post: @post %>
      </div>
    </li>
    <li class="list-group mb-5">
      <%= link_to "Delete post", admin_post_path(@post), data: { turbo_method: :delete, turbo_confirm: "Are you shure?" } %>
    </li>
    <div id="comments">
      <%= render partial: 'comments', collection: @comments%>
    </div>
  </ul>
  <%== pagy_nav(@pagy) if @pagy.pages > 1 %>
</div>