<div class="container">
  <% if flash[:success].present? || flash[:alert].present? %>
    <h3 class="mb-md-5"> <%= flash[:success] %> <%= flash[:alert] %> </h3>
  <% end %>
  <ul class="col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
    <% @posts.each do |post| %>
<h4> <%= flash[:alert] %> </h4>
<div class="container">
  <% if flash[:success].present? %>
    <h3 class="mb-md-5"> <%= flash[:success] %> <%= flash[:alert] %> </h3>
  <% end %>
  <ul class="col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
    <% @post.each do |post| %>
      <li>
        <h4> <%= post.title %> </h4>
      </li>
      <li>
        <p> <%= post.body %> </p>
      </li>
      <li class="list-group">
        <h6> <%= post.user.full_name %> </h6>
      </li>
      <li class="list-group">
         <%= link_to "Show post", post_path(post) %>
      </li>

      <% @post.comments.approved.each do |comment| %>

      <% end %>
    <% end %>
  </ul>
</div>
