<% if flash[:success_create_comment].present? %>
    <h3 class="mb-md-5"> <%= flash[:success_create_comment] %> </h3>
<% end %>
<div class="container">
  <ul class="col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
    <li>
      <h4> <%= @post.title %> </h4>
    </li>
    <li>
      <p> <%= @post.body %> </p>
    </li>
    <li class="list-group mb-3"">
      <h6> <%= @post.user.full_name %> </h6>
    </li>
    <div id="form">
      <%= render 'shared/formComment', comment: @comment %>
    </div>
    <div id="comments">
      <%= render partial: "comments/comment", collection: @comments %>
    </div>
  </ul>
  <%== pagy_nav(@pagy) if @pagy.pages > 1 %>
</div>